<%= stylesheet_link_tag 'posts', :media => "all" %>
<%if flash[:notice]%>
  <h1 class="h1_title">練習記録中・・・</h1>
<%else%>
  <h1 class="h1_title_no_flash">練習記録中・・・</h1>
<%end%>
<div class="container_oya">
  <div class="container">
    <div class="new_outside">
      <%=form_tag("/posts/create")do%>
        <div class="new_practice_date">
          練習日（入力形式：yyyy-mm-dd）<br>
          <%=date_field_tag("date", "p_date")%>
        </div>
        <div class="new_practice_date">
          タイトル<br>
          <%= text_field_tag :title, value=nil, :class => 'title_textarea' %>
        </div>
        <div class="new_practice_content">
          練習内容<br>
          	<textarea name="content" class="content_textarea"></textarea>
        </div>
        <div class="new_button_group">
          <input class="new_button" type="submit" value="投稿">
        </div>
      <%end%>
    </div>
  </div>
</div>
