.header_line{
  background-color: #FFFFFF;
  box-shadow: 0px 3px 3px 0px #BFBFBF;
  height: 40px;
}

.search_text_field{
  height: 20px;
  font-size: 15px;
}

.container_oya{
  display: flex;
  width: 100%;
}

.container_community_new{
  display: flex;
  background-color: #FFFFFF;
  border-top: 5px solid #12ADFF;
  box-shadow: 0px 3px 6px 0px #BFBFBF;
  left: 200px;
  width: 600px;
  height: 850px;
  margin: auto;
  flex-direction: column;
}

.container{
  display: flex;
  background-color: #FFFFFF;
  border-top: 5px solid #12ADFF;
  box-shadow: 0px 3px 6px 0px #BFBFBF;
  left: 200px;
  width: 600px;
  height: 400px;
  margin: auto;
  flex-direction: column;
}

.community_outside_new{
  background-color: #FEFFF8;
  box-shadow: 0px 3px 6px 0px #BFBFBF;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 30px;
  width: 500px;
  height: 800px;
}


.ul_nav_community_index{
  list-style: none;
  overflow: hidden;
  margin-top: 1px;
  margin-bottom: 0px;
  height: 40px;
}

.list_community_nav{
  float: left;
  margin-right: 30px;
  color: #707070;
  height: 40px;
}

.list_community_nav a{
  text-decoration: none;
  vertical-align: middle;
}

.list_nav_margin{
  margin-right: 143px;
}

.community_header{
  height: 40px;
  padding-top: 5px;
}

.search_button_field{
  height: 30px;
  font-size: 40px;
}

.community_name_label,.region_name_label,.description_label,.community_pic_label{
  text-align: center;
  font-size: 25px;
  color: #707070;
}

.community_name_input_outside,.region_input_outside,.description_input_outside,.community_pic_input_outside{
  display: flex;
}

.community_name_input_inner,.region_input_inner,.description_input_inner,.community_pic_input_inner{
  margin: auto;
}

.description_textarea{
  width: 470px;
  height: 350px;
  font-size: 15px;
  resize: none;
}

#community_name{
  width:350px;
  font-size: 20px;
  margin-bottom: 20px;
}

#prefucture{
  width:150px;
  height: 40px;
  font-size: 20px;
  margin-bottom: 20px;
}

#image_name{
  width:350px;
  margin-top: 20px;
  font-size: 15px;
  margin-bottom: 20px;
  align-items: center;
  vertical-align: middle;
}
