.title{
  color: #707070;
  text-align: center;
  margin-top: 100px;
}

.title_no_flash{
  color: #707070;
  text-align: center;
  margin-bottom: 20px;
}

.container_oya{
  display: flex;
  width: 100%;
}

.container{
  display: flex;
  background-color: #FFFFFF;
  border-top: 5px solid #12ADFF;
  box-shadow: 0px 3px 6px 0px #BFBFBF;
  left: 200px;
  width: 600px;
  height: 400px;
  margin: auto;
  flex-direction: column;
}

.login_outside{
  background-color: #FEFFF8;
  box-shadow: 0px 3px 6px 0px #BFBFBF;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 30px;
  width: 500px;
  height: 350px;
}

/* new */
.container_new{
  display: flex;
  background-color: #FFFFFF;
  border-top: 5px solid #12ADFF;
  box-shadow: 0px 3px 6px 0px #BFBFBF;
  left: 200px;
  width: 600px;
  height: 650px;
  margin: auto;
  flex-direction: column;
}

.login_outside_new{
  background-color: #FEFFF8;
  box-shadow: 0px 3px 6px 0px #BFBFBF;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 30px;
  width: 500px;
  height: 600px;
}

.email_label,.password_label,.user_name_label,.user_pic_label,.userpic_label{
  text-align: center;
  font-size: 25px;
  color: #707070;
}

.email_input_outside,.password_input_outside,.user_name_input_outside,.pic_input_outside,.userpic_input_outside{
  display: flex;
}

.email_input_inner,.password_input_inner,.user_name_input_inner,.pic_input_inner,.userpic_input_inner{
  margin: auto;
}

#user_email,#user_password,#user_password_confirmation,#user_username,#user_image{
  width:350px;
  font-size: 20px;
  margin-bottom: 20px;
}

#user_image{
  width:350px;
  font-size: 10px;
  margin-bottom: 20px;
}

#user_image_name{
  width:350px;
  margin-top: 20px;
  font-size: 15px;
  margin-bottom: 20px;
  align-items: center;
  vertical-align: middle;
}

#user_remember_me{
  margin-left: 72px;
}

.actions{
  display: flex;
  font-size: 41px;
  height: 50px;

}

.login_button{
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  width: 350px;
  height: 50px;
  border: solid 1px;
  background-color: #84BCE0;
  color: #FFFFFF;
}

.link_new,.link_forget_password,.link_login{
  margin-left: 75px;
  margin-top: 10px;
}

.link_new a,.link_forget_password a,.link_login a{
  color: #707070;
  text-decoration: none;
}
