// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title_1{
  font-size: 45px;
  color: #5B839D;
}

.title_2{
  font-size: 25px;
  color: #5B839D;
}
