// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.h1_title{
  color: #707070;
  text-align: center;
  margin-top: 20px;
}

.h1_title_no_flash{
  color: #707070;
  text-align: center;
  margin-top: 20px;
}
// 00_start ユーザー情報表示CSS
.user_pic_space_no_flash{
  margin-top: 20px;
}

.user_profile_oya{
  display: flex;
  width: 100%;
}

.user_container{
  display: flex;
  background-color: #FFFFFF;
  border-top: 5px solid #12ADFF;
  box-shadow: 0px 3px 6px 0px #BFBFBF;
  left: 200px;
  width: 600px;
  height: 250px;
  margin: auto;
  margin-bottom: 100px;
  flex-direction: column;
}

.user_index{
  background-color: #FEFFF8;
  box-shadow: 0px 3px 6px 0px #BFBFBF;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 30px;
  width: 500px;
  height: 150px;
  vertical-align: auto;
  display: flex;
  align-items: center;
}

.user_icon_image {
  width: 100px;
  height: 100px;
  //サイズ指定
  border-radius: 100px;
  //画像を丸くする
  object-fit: cover;
  //タテヨコ比を変えないままトリミング
}

.user_index_icon{
  margin-left: 50px;
}

.user_index_name{
  margin-left: 50px;
}

// 00_end ユーザー情報表示CSS


// 01_start 練習情報表示
.container_oya{
  display: flex;
  width: 100%;
}
/* index */
.container{
  display: flex;
  background-color: #FFFFFF;
  border-top: 5px solid #12ADFF;
  box-shadow: 0px 3px 6px 0px #BFBFBF;
  left: 200px;
  width: 600px;
  height: 700px;
  margin: auto;
  flex-direction: column;
}

.container_index_0_1{
  display: flex;
  background-color: #FFFFFF;
  border-top: 5px solid #12ADFF;
  box-shadow: 0px 3px 6px 0px #BFBFBF;
  left: 200px;
  width: 600px;
  height: 300px;
  margin: auto;
  flex-direction: column;
}

.container_index_2{
  display: flex;
  background-color: #FFFFFF;
  border-top: 5px solid #12ADFF;
  box-shadow: 0px 3px 6px 0px #BFBFBF;
  left: 200px;
  width: 600px;
  height: 500px;
  margin: auto;
  flex-direction: column;
}

.container_index_3{
  display: flex;
  background-color: #FFFFFF;
  border-top: 5px solid #12ADFF;
  box-shadow: 0px 3px 6px 0px #BFBFBF;
  left: 200px;
  width: 600px;
  height: 700px;
  margin: auto;
  flex-direction: column;
}

.container_index_4{
  display: flex;
  background-color: #FFFFFF;
  border-top: 5px solid #12ADFF;
  box-shadow: 0px 3px 6px 0px #BFBFBF;
  left: 200px;
  width: 600px;
  height: 900px;
  margin: auto;
  flex-direction: column;
}

.container_index_5{
  display: flex;
  background-color: #FFFFFF;
  border-top: 5px solid #12ADFF;
  box-shadow: 0px 3px 6px 0px #BFBFBF;
  left: 200px;
  width: 600px;
  height: 1150px;
  margin: auto;
  flex-direction: column;
}

.post_index{
  background-color: #FEFFF8;
  box-shadow: 0px 3px 6px 0px #BFBFBF;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 30px;
  width: 500px;
  height: 150px;
}

.practice_date,.practice_name,.practice_content{
  margin-top: 10px;
  margin-left: 30%;
  color: #707070;
}

.edit_button{
  margin-top: 10px;
  margin-left: 70%;
  color: #707070;
  text-decoration: underline;
}

/* show */
.show_outside,.edit_outside,.new_outside{
  background-color: #FEFFF8;
  box-shadow: 0px 3px 6px 0px #BFBFBF;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 30px;
  width: 500px;
  height: 650px;
}

.show_practice_date,.show_practice_name,.show_timestamp,.show_practice_content,.show_button_group,.edit_practice_date,.edit_practice_name,.edit_practice_content,.edit_button_group,.new_practice_date,.new_practice_date,.new_practice_content,.new_button_group{
  width: 480px;
  margin: auto;
  border-top: 2px solid #12ADFF;
}


.show_practice_date,.show_practice_name,.show_timestamp{
  height: 65px;
  margin: auto;
}

.show_practice_content{
  height: 400px;
  margin: auto;
}

.show_button_group,.edit_button_group,.new_button_group{
  height: 55px;
  margin: auto;
  display: flex;
  justify-content:space-around;
}

.show_button_return,.show_button_edit,.show_button_delete{
  background-color: #12ADFF;
  box-shadow: 0px 3px 6px 0px #BFBFBF;
  height: 30px;
  width: 100px;
  margin-top: 7px;
  border-radius: 10px;
  text-align: center;
  color:#FFFFFF;
}

/* edit */
.date_textarea{
  width: 100px;
  font-size: 15px;
}

.title_textarea{
  width: 470px;
  font-size: 15px;
}

.content_textarea{
  width: 470px;
  height: 350px;
  font-size: 15px;
}

.update_button,.new_button{
  background-color: #12ADFF;
  box-shadow: 0px 3px 6px 0px #BFBFBF;
  height: 30px;
  width: 100px;
  margin-top: 7px;
  border-radius: 10px;
  text-align: center;
  color:#FFFFFF;
  text-decoration:none;
  vertical-align: middle;
  font-size: 15px;
}

.pagination{
}

/* kaminari */
.page{
  padding: 8px 10px;
  margin: 2em 0;
  margin-left: 10px;
  font-weight: bold;
  color: #12ADFF;/*文字色*/
  background: #FFF;
  border: solid 3px #12ADFF;/*線*/
  border-radius: 10px;/*角の丸み*/
}

.page a{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.next{
  padding: 8px 10px;
  margin: 2em 0;
  margin-left: 10px;
  font-weight: bold;
  color: #12ADFF;/*文字色*/
  background: #FFF;
  border: solid 3px #12ADFF;/*線*/
  border-radius: 10px;/*角の丸み*/
}

.next a{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.last{
  padding: 8px 10px;
  margin: 2em 0;
  margin-left: 10px;
  font-weight: bold;
  color: #12ADFF;/*文字色*/
  background: #FFF;
  border: solid 3px #12ADFF;/*線*/
  border-radius: 10px;/*角の丸み*/
}

.last a{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.first{
  padding: 8px 10px;
  margin: 2em 0;
  margin-left: 10px;
  font-weight: bold;
  color: #12ADFF;/*文字色*/
  background: #FFF;
  border: solid 3px #12ADFF;/*線*/
  border-radius: 10px;/*角の丸み*/
}

.first a{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.prev{
  padding: 8px 10px;
  margin: 2em 0;
  margin-left: 10px;
  font-weight: bold;
  color: #12ADFF;/*文字色*/
  background: #FFF;
  border: solid 3px #12ADFF;/*線*/
  border-radius: 10px;/*角の丸み*/
}

.prev a{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

// 01_end 練習情報表示
