// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.h1_title{
  color: #707070;
  text-align: center;
}
.container_oya{
  display: flex;
  width: 100%;
}
/* index */
.container{
  display: flex;
  background-color: #FFFFFF;
  border-top: 5px solid #12ADFF;
  box-shadow: 0px 3px 6px 0px #BFBFBF;
  left: 200px;
  width: 600px;
  height: 700px;
  margin: auto;
  flex-direction: column;
}

.post_index{
  background-color: #FEFFF8;
  box-shadow: 0px 3px 6px 0px #BFBFBF;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 30px;
  width: 500px;
  height: 150px;
}

.practice_date,.practice_name,.practice_content{
  margin-top: 10px;
  margin-left: 30%;
  color: #707070;
}

.edit_button{
  margin-top: 10px;
  margin-left: 70%;
  color: #707070;
  text-decoration: underline;
}

/* show */
.show_outside{
  background-color: #FEFFF8;
  box-shadow: 0px 3px 6px 0px #BFBFBF;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 30px;
  width: 500px;
  height: 650px;
}

.show_practice_date,.show_practice_name,.show_timestamp,.show_practice_content,.show_button_group{
  width: 480px;
  margin: auto;
  border-top: 2px solid #12ADFF;
}


.show_practice_date,.show_practice_name,.show_timestamp{
  height: 65px;
  margin: auto;
}

.show_practice_content{
  height: 400px;
  margin: auto;
}

.show_button_group{
  height: 55px;
  margin: auto;
  display: flex;
  justify-content:space-around;
}

.show_button_return,.show_button_edit,.show_button_delete{
  background-color: #12ADFF;
  box-shadow: 0px 3px 6px 0px #BFBFBF;
  height: 30px;
  width: 100px;
  margin-top: 7px;
  border-radius: 10px;
  text-align: center;
  color:#FFFFFF;
}
